body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 58.33333333%;
   text-align: left;
}
#header > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
   #header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
   {
      float: none;
      width: 100% !important;
   }
}
#Breadcrumb1
{
   padding: 15px 15px 15px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: bold;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 19px;
}
#Breadcrumb1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #8A2BE2;
   text-decoration: none;
}
#Breadcrumb1 > .active
{
   color: #8A2BE2;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 2px;
   color: #C0C0C0;
}
#Breadcrumb1 li:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb1 li
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb1 li a:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb1 li a
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_ResponsiveMenu1
{
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: left;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #007BFF;
   height: 67px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #007BFF;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a
{
   height: 37px;
}
.ResponsiveMenu1 a
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 67px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li
{
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 135px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a
{
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li
{
   left: 135px;
   position: relative;
   top: -67px;
}
#wb_ResponsiveMenu1 .arrow-down
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:970px)
{
   #wb_ResponsiveMenu1
   {
      margin: 0;
      text-align: left;
   }
   #wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
   {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      padding: 15px 20px 15px 20px;
   }
   #wb_ResponsiveMenu1 .toggle + a
   {
      display: none !important;
   }
   .ResponsiveMenu1
   {
      display: none;
      z-index: 9999;
   }
   #ResponsiveMenu1
   {
      background-color: transparent;
   }
   #wb_ResponsiveMenu1 > ul > li > a
   {
      height: auto;
   }
   #wb_ResponsiveMenu1 .toggle
   {
      display: block;
      background-color: #007BFF;
      color: #FFFFFF;
      padding: 0px 20px 0px 20px;
      line-height: 54px;
      text-decoration: none;
      border: none;
      position: relative;
   }
   #wb_ResponsiveMenu1 .toggle:hover
   {
      background-color: #CCCCCC;
      color: #424242;
   }
   [id^=ResponsiveMenu1-submenu]:checked + ul
   {
      display: block !important;
   }
   #ResponsiveMenu1-title
   {
      height: 67px;
      line-height: 67px !important;
      text-align: center;
   }
   #wb_ResponsiveMenu1 ul li
   {
      display: block;
      width: 100%;
      text-align: left;
   }
   #wb_ResponsiveMenu1 ul ul .toggle,
   #wb_ResponsiveMenu1 ul ul a
   {
      padding: 0 40px;
   }
   #wb_ResponsiveMenu1 a:hover,
   #wb_ResponsiveMenu1 ul ul ul a
   {
      background-color: #7A7A7A;
      color: #FFFFFF;
   }
   #wb_ResponsiveMenu1 ul li ul li .toggle,
   #wb_ResponsiveMenu1 ul ul a
   {
      background-color: #7A7A7A;
      color: #FFFFFF;
   }
   #wb_ResponsiveMenu1 ul ul ul a
   {
      padding: 15px 20px 15px 60px;
   }
   #wb_ResponsiveMenu1 ul li a
   {
      text-align: left;
   }
   #wb_ResponsiveMenu1 ul li a br
   {
      display: none;
   }
   #wb_ResponsiveMenu1 ul li i
   {
      margin-right: 8px;
   }
   #wb_ResponsiveMenu1 ul ul
   {
      float: none;
      position: static;
   }
   #wb_ResponsiveMenu1 ul ul li:hover > ul,
   #wb_ResponsiveMenu1 ul li:hover > ul
   {
      display: none;
   }
   #wb_ResponsiveMenu1 ul ul li
   {
      display: block;
      width: 100%;
   }
   #wb_ResponsiveMenu1 ul ul ul li
   {
      position: static;
   }
   #ResponsiveMenu1-icon
   {
      display: block;
      position: absolute;
      left: 30px;
      top: 21px;
   }
   #ResponsiveMenu1-icon span
   {
      display: block;
      margin-top: 4px;
      height: 2px;
      background-color: #FFFFFF;
      color: #FFFFFF;
      width: 24px;
   }
   #wb_ResponsiveMenu1 ul li ul li .toggle:hover
   {
      background-color: #CCCCCC;
      color: #424242;
   }
   #wb_ResponsiveMenu1 .toggle .arrow-down
   {
      border-top-color: #FFFFFF;
   }
   #wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
   {
      border-top-color: #424242;
   }
   #wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down
   {
      border-top-color: #FFFFFF;
   }
   #wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
   {
      border-top-color: #424242;
   }
}
#wb_Card1
{
   
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   border: 1px solid #007BFF;
   border-radius: 3px;
   margin: 5px 5px 5px 5px;
   padding: 0;
   text-align: center;
	width: 100%;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #007BFF;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #007BFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   text-align: left;
}
#Card1-card-item2
{
   display: inline-block;
   height: 38px;
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0px 0px 10px 0px;
   padding: 10px 10px 10px 10px;
   border: 1px solid #007BFF;
   border-radius: 5px;
   background-color: #007BFF;
   background-image: none;
   color: #2B2B2B;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card1-card-item2 a
{
   color: #2B2B2B;
   text-decoration: none;
}
#FlexContainer1
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 5px 5px 5px 5px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 80px 0px 0px 0px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#SiteSearch1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#GoMenu1_select, #GoMenu1_input
{
   border: 1px solid #A9A9A9;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#GoMenu1_select
{
   float: left;
   height: 100%;
   width: 84%;
}
#GoMenu1_input
{
   float: right;
   height: 100%;
   padding: 0;
   text-align: center;
   width: 15%;
}
#GoMenu1
{
   height: 100%;
   margin: 0;
}
